<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-修改字体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD0D12621E5D33FE0006F930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD0D127B1E5D33FE0006F930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD0D12861E5D33FE0006F930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
